.kht_header_link{
    color:#333;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;

}
.kht_header_link:hover{
    color:#475692;
}

.kht_login_btn{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 9px 15px;
    border-radius: 3px;
    margin-right: 10px;
    border:1px solid #333;
}

.kht_category_btn {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 9px 15px;
    border-radius: 3px;
    margin-right: 10px;
 
}

.kht_login_btn:hover{
    background-color: #eee;
}

.color_picker{
    background-color: #0000008a;
}

.main-btn {
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    border: 0;
    background: #475692;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: 500;
    font-family: "Roboto", sans-serif !important;
}

.main-btn:hover {
    color: #fff !important;
    background: #333;
}

.main-btn.cancel {
    color: #91699c;
    background: #f3f3f3;
}

.main-btn.cancel:hover {
    color: #333 !important;
    background: #f4f4f4;
}